*{
	padding: 0;
	margin: 0;;
	background-image: url('https://i.gifer.com/Qkuf.gif');
	background-size: contain;
    color:white;
}

body{
	overflow: hidden;
}

.button{
	background-color: white;
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
